{{ header }}
{{ content_top }}

<section class="featured-products">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="section-title">
                    Рекомендуемые товары
                </h3>
            </div>
            <div class="col-md-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="product.html"><img src="catalog/view/theme/ysashop/image/products/iphone_1.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">IPhone IPhone IPhone IPhone IPhone IPhone</a></h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Eaque, commodi.</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>$200.00</small>
                                $185.00
                            </div>
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="product.html"><img src="catalog/view/theme/ysashop/image/products/canon_eos_5d_1.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Canon EOS 5d</a></h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Eaque, commodi.</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>$200.00</small>
                                $185.00
                            </div>
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="product.html"><img src="catalog/view/theme/ysashop/image/products/apple_cinema_30.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">Apple Cinema 30</a></h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Eaque, commodi.</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>$200.00</small>
                                $185.00
                            </div>
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="product.html"><img src="catalog/view/theme/ysashop/image/products/hp_1.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">HP 1</a></h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Eaque, commodi.</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>$200.00</small>
                                $185.00
                            </div>
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="product.html"><img src="catalog/view/theme/ysashop/image/products/imac_1.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="#">iMac</a></h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, officia.</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>$200.00</small>
                                $185.00
                            </div>
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="product.html"><img src="catalog/view/theme/ysashop/image/products/iphone_1.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="product.html">IPhone</a></h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Eaque, commodi.</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>$200.00</small>
                                $185.00
                            </div>
                            <div class="product-links">
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                <a href="#"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="section-title">
                    Наши преимущества
                </h3>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <p class="text-center"><i class="fas fa-shipping-fast"></i></p>
                    <p>Прямые поставки от производителей</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <p class="text-center"><i class="fas fa-cubes"></i></p>
                    <p>Широкий ассортимент товара</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <p class="text-center"><i class="fas fa-hand-holding-usd"></i></p>
                    <p>Приятные и конкуретные цены</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <p class="text-center"><i class="fas fa-user-cog"></i></p>
                    <p>Профессиональная консультация и сервис</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ footer }}