<div id="search">
    <div class="input-group">
        <input type="text" name="search" class="form-control" value="{{ search }}" placeholder="{{ text_search }}"
               aria-label="Search...">
        <button class="btn" id="close-search" type="button"><i class="fas fa-times"></i></button>
        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
    </div>
</div>